<div class="header">

  <div class="header-element p-3">
    <div class="row">
      <div class="col-2">
        <img class="logoImg " src="https://i.hizliresim.com/hilc0ju.PNG" alt="">

      </div>
      <div class="col-2 mt-3">
        Hakkımızda
      </div>
      <div class="col-2 mt-3">
        Juri-Yarışma Yazılımı
      </div>
      <div class="col-2 mt-3">
        Word Ninja
      </div>
      <div class="col-2 mt-3">
        Word Pyramids
      </div>
      <div class="col-2 mt-3">
        icons
      </div>
    </div>
    <div class="mobile row">
      <div class="col-6 ">
        <img class="logoImg " src="https://i.hizliresim.com/hilc0ju.PNG" alt="">
      </div>
      <div class="col-6 mt-1">
        <i class="hamburgerMenu bi bi-list"></i>
      </div>
    </div>
  </div>
</div>
